{% extends "headerleft.html" %}

{% load staticfiles %}

{% block asset %}active{% endblock %}


{% block mainbody %}

    <div class="row">
        <div class="col-md-12">
            <div class="module panel panel-default">
                <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                    <li><a href="{% url "design" %}" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>节点设计</a></li>
                    <li><a href="{% url "entering" %}" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>资产录入</a></li>
                    <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>资产修订</a></li>
                    <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>资源剩余</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% block design %}{% endblock %}
{% endblock %}
