<!DOCTYPE html>
<html>
    <head>
        <title>信息与监控</title>
        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
        <link href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.0.14/daterangepicker.css" rel="stylesheet">
        <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.css"/>
        <style>
            .jumbotron{
                background:url(static/img/3.jpg);
            }
            .top90{
                padding-top:50px;
            }
        </style>

    <body>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-2 top90"><h1>运维平台监控系统</h1></div>
                <div class="col-md-4">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-3">
                    {% ifequal hit "nocode" %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>警告!</strong>推荐码不正确,请核实后再试！
                        </div>
                    {% endifequal%}
                    {% ifequal hit "diff" %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>提示!</strong>您两次输入的密码不一致！
                        </div>
                    {% endifequal%}                    
                </div>
                <div class="col-md-4">
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <ul class="nav nav-tabs">
                      <li role="presentation"><a href="http://118.123.6.162:48000/login">欢迎登陆</a></li>
                      <li role="presentation" class="active"><a>注册入口</a></li>
                    </ul>
                    <form action="http://118.123.6.162:48000/login/registe" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm</label>
                            <input type="password" class="form-control" id="confirm" placeholder="confirm" name="confirm">
                        </div>
                        <div class="form-group">
                            <label for="password">推荐码</label>
                            <input type="text" class="form-control" id="code" placeholder="code" name="code">
                        </div>
                        <div class="btnEnter">
                            <button type="submit" class="btn btn-primary">Registered</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>


        <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>